.DS_Store
.gradle_home/
.gradle/
**/.gradle/
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.flutter-plugins
ios/Flutter/.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
.idea/
.vscode/
*.iml
*.log
lib/l10n/app_localizations*.dart
# Course materials (user data)
assets/teachers/*/*
!assets/teachers/*/prompts/
!assets/teachers/*/prompts/**
